body{
    font-family: sans-serif;
    margin: 0;
    padding: 0; 
}

ul,ol,li{
    list-style: none;
}

a{
    text-decoration: none;
    color: black;
}

a:hover{
    color: rgb(7, 7, 7);
    font-weight: bold;
}

.menu{
    background-image:url("../imagens/fundomenu.jpg");
    padding-bottom: 30%;;
    background-repeat: no-repeat;
    position: relative;
}

.menu > ul{
    margin: 0;
    padding: 2%;
}

.menu > ul > li{
    display: inline;
    padding-left: 1%;
}

.menu > ul > h2{
    font-family: 'Chakra Petch', sans-serif;
    text-align: center;
    padding: 30% 10% 0 20%;
}

#curriculum{
    padding: 4% 10% 5% 1%;
    font-size: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
}

.container img{
    margin: 0;
    width: 18%;
    padding: 0 6% 7% 17%;
}

.container{
    display: flex;
    align-items:center;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
    position: relative;
}

.container h3{
    font-size: 16px;
}

.container h2{
    font-size: 25px;
    padding: 30px;
}

.container li{
    list-style: disc;
    font-size: 16px;
    padding: 2px 0 15px 0;
}

#formacao{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 50px 300px 60px 300px;
    border: solid black 1px;
}

#formacao h1{
    padding: 20px;
}
#competencias{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 50px 440px 60px 440px;
    border: solid black 1px;
    position: relative;
}

#cursos{
    display: flex;
    align-items: stretch;
    flex-direction: column;
    padding: 50px 260px 60px 260px;
    border: solid black 1px;
    position: relative;
}

#info{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 50px 75px 60px 75px;
    border: solid black 1px;
    position: relative;
}

#hobbies{
    border: solid black 1px;
    position: relative;
}

#hobbies img{
    width: 15%;
    padding: 40px 0 0 20px;
}

#hobbies div{
    display:flex;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 50px;
}

footer{
    background-color: rgb(236, 185, 18);
    margin: 0;
    padding: 20px;
    position: relative;
}

footer > div > ol > li{
    display: inline;
    padding-left: 165px;
}

#trabalhos{
    font-weight: bold;
}